asgiref==3.7.2
beautifulsoup4==4.12.2
django-bootstrap4==23.2
Django==4.2.6
django-bootstrap4==23.2
django-environ==0.11.2
gunicorn==21.2.0
korean-lunar-calendar==0.3.1
mysqlclient==2.2.0
packaging==23.2
Pillow==10.1.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3