<div class="pragmatic_header">
    <div >
        <h1 class="pragmatic_logo">Fair Ground</h1>
    </div>
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <a href="{% url 'saju:list' %}?next={{ request.path}}" class="pinterest_header_nav">
            <span>Saju</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path}}" class="pinterest_header_nav">
            <span>로그인</span>
        </a>

        <a href="{% url 'accountapp:create' %}" class="pinterest_header_nav">
            <span>회원가입</span>
        </a>

        {% else %}  <!-- 유저가 로그인이 되어있다면, 로그아웃 페이지를 보여주기 -->
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>마이페이지</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path}}" class="pinterest_header_nav">
            <span>로그아웃</span>
        </a>
        {% endif %}
    </div>
</div>